<?xml version="1.0"?>
<launch>

    <arg name="robot_ns" default="robot1"/>
    <rosparam command="load" file="$(find plastic_navigation)/config/patparams.yaml" />

    <group ns="$(arg robot_ns)">

        <node pkg="multi_sim" type="fsm_move.py" name="patrol" output="screen"> 

            

        </node>

    </group>
    
</launch>