<?xml version="1.0"?>
<launch>

    <arg name="robot_ns" default=""/>

    <rosparam command="load" file="$(find multi_sim)/config/patparams.yaml" />

    <group ns="$(arg robot_ns)">


        <node pkg="multi_sim" type="fsm_move.py" name="patroller" output="screen"/>

        
        <!-- <include file="$(find patpkg)/launch/plasticpat.launch" >
            <arg name="robot_ns" value="$(arg robot_ns)"/>    
        </include> -->

    </group>
</launch>