<?xml version="1.0"?>
<launch>

    <arg name="robot_ns" default=""/>

    <group ns="$(arg robot_ns)">

        <!-- <include file="$(find multi_sim)/launch/navigation/navigation.launch">
            <arg name="robot_ns" value="$(arg robot_ns)" />
        </include> -->


        <node pkg="multi_sim" type="fsm_move.py" name="patroller" output="screen"> 

            <rosparam command="load" file="$(find multi_sim)/config/patparams.yaml" />
        </node>

        <!-- <include file="$(find patpkg)/launch/plasticpat.launch" >
            <arg name="robot_ns" value="$(arg robot_ns)"/>    
        </include> -->

    </group>
</launch>