<?xml version="1.0" ?>

<launch>

    <arg name="robot_ns" default="robot1" />

    <!-- <group ns="$(arg robot_ns)"> -->

        <!-- <rosparam command="load" file="$(find patpkg)/config/params.yaml" /> -->

        <include file="$(find multi_sim)/launch/arlaunch.launch">
            <arg name="robot_ns" value="$(arg robot_ns)" />
        </include>

        <node name="patrol" pkg="multi_sim" type="updateParams.py" output="screen">
            <!-- <rosparam command="load" file="$(find patpkg)/config/params.yaml" /> -->

        </node>
    <!-- </group> -->
   
</launch>